body {
	background-color: #ECECEC;
	font-family: 'Helvetica Neue';
}

.tasklist {
	cursor: pointer;
	line-height: 40px;
	padding: 4px 0 4px 16px;
}

.tasklist:hover {
	background-color: #e4e4e4;
}

.tasklist.selected {
	background-color: #E0E0E0;
	color: #33AC71;
}

.task-listing {
	background-color: #fff;
	padding: 10px 0;
}

.task {
	line-height: 40px;
	padding: 4px 0 4px 16px;
}

.task.completed span {
	text-decoration: line-through;
}

.float-right {
	float: right;
}

.complete-task-icon {
	cursor: pointer;
}

.complete-task-icon.needsAction {
	color: #c0c0c0;
}

.complete-task-icon:hover {
	color: #000;
}