<!DOCTYPE HTML>
<html ng-app="chromeTasks" ng-csp>
	<head>
		<title>Chrome Tasks - New Tab</title>
		<link rel="stylesheet" href="/css/bootstrap.css" />
		<link rel="stylesheet" href="/css/chrometasks.css" />
		<script type="text/javascript" src="/js/underscore-min.js"></script>
		<script type="text/javascript" src="/js/angular.js"></script>
		<script type="text/javascript" src="/oauth2/oauth2.js"></script>
		<script type="text/javascript" src="/googleApi.auth.js"></script>
		<script type="text/javascript" src="/googleApi.js"></script>
		<script type="text/javascript" src="/chromeTasks.js"></script>

		<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
	</head>
	<body ng-controller="MainController">
		<header>
			<div class="container">
				<h1 class="app-title">Chrome Tasks</h1>
			</div>
		</header>
		<!--Add a button for the user to click to initiate auth sequence -->
	    <!-- <button id="authorize-button" ng-click="doAuthorization()">Authorize</button> -->

		<div class="app container">
		    <div class="row">
		    	<div class="col-md-2">
		    		<div class="tasklist" 
			    		ng-repeat="tasklist in tasklists" 
			    		ng-click="selectList(tasklist.id)" 
			    		ng-class="{'selected': isListSelected(tasklist.id)}">
		    			{{tasklist.title}}
			    	</div>
				</div>

				<div class="col-md-8 task-listing">
					<div class="row task" ng-class="task.status" ng-repeat="task in tasks">
						<span class="task-title col-md-8">{{task.title}}</span>
						<i class="complete-task-icon col-md-1 col-md-offset-3 material-icons"
						   ng-class="task.status"
						   ng-click="toggleCompleted(task.id)">
						   check
						</i>
					</div>

		    		<div class="pull-right material-icons add-task-button circle">add</div>
				</div>
		    </div>
		</div>
	</body>
</html>