<!DOCTYPE HTML>
<html ng-app="chromeTasks" ng-csp>
	<head>
		<title>Chrome Tasks - New Tab</title>
		<link rel="stylesheet" href="/css/bootstrap.css" />
		<link rel="stylesheet" href="/css/chrometasks.css" />
		<script type="text/javascript" src="/js/underscore-min.js"></script>
		<script type="text/javascript" src="/js/angular.js"></script>
		<script type="text/javascript" src="/js/ui-bootstrap-0.13.0.min.js"></script>
		<script type="text/javascript" src="/oauth2/oauth2.js"></script>
		<script type="text/javascript" src="/googleApi.auth.js"></script>
		<script type="text/javascript" src="/googleApi.js"></script>
		<script type="text/javascript" src="/chromeTasks.js"></script>

		<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
	</head>
	<body ng-controller="MainController">
		<header>
			<div class="container">
				<h1 class="app-title">Chrome Tasks</h1>
			</div>
		</header>
		<!--Add a button for the user to click to initiate auth sequence -->
	    <!-- <button id="authorize-button" ng-click="doAuthorization()">Authorize</button> -->

		<div class="app container">
		    <div class="row">
		    	<div class="col-xs-2 tasklists">
		    		<div ng-repeat="tasklist in tasklists">
			    		<input type="text"
			    		    class="tasklist hidden-input" 
			    		    ng-show="tasklistBeingEdited == tasklist.id"
			    		    ng-model="tasklist.title"
				    		focus-me="forceFocus == tasklist.id"
				    		ng-keydown="removeFocusOnEnter($event)"
				    		ng-blur="saveTaskListAndSelect(tasklist)"
				    		ng-class="{'selected': isListSelected(tasklist.id)}">
				    	</input>
				    	<div class="tasklist" 
				    		ng-show="tasklistBeingEdited != tasklist.id"
				    		ng-click="selectList(tasklist.id, $event)"
				    		ng-class="{'selected': isListSelected(tasklist.id)}">
				    		{{tasklist.title}}
					    	<i class="material-icons tasklist-action small dimmed pull-right" 
					    		ng-click="editTaskList(tasklist.id)"
					    		ng-show="isListSelected(tasklist.id)">
					    		edit
					    	</i>
					    	<div class="clearfix"></div>
				    	</div>
				    </div>


			    	<div class="l-center-content tasklist-actions">
			    		<div class="material-icons btn btn-float btn-circle green" ng-click="newTasklist()">list</div>
			    		<div class="clearfix"></div>
			    		<div class="material-icons btn btn-float btn-circle dark-gray" ng-click="deleteCurrentTaskList()">delete</div>
		    		</div>
				</div>

				<div class="col-xs-8">
					<div class="task-listing"> 
						<div class="row task" ng-class="task.status" ng-repeat="task in tasks">
							<input type="text" class="hidden-input task-title col-xs-9" 
								ng-model="task.title" 
								ng-blur="updateTask(task)"
					    		ng-keydown="removeFocusOnEnter($event)"
								focus-me="forceFocus == task.id" />
							<div class="task-actions col-xs-3 col-md-offset-1 col-md-2">
								<i class="task-action complete-task-icon material-icons"
								   ng-class="task.status"
								   ng-click="toggleCompleted(task.id)">
								   check
								</i>
								<i class="task-action material-icons dimmed"
								   ng-click="deleteTask(task.id)">
								   delete
								</i>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-1 toolbox">
					<div class="row">
						<div class="material-icons btn btn-float btn-circle red" ng-click="newTask()">add</div>
					</div>
					<div class="row">
						<div class="material-icons btn btn-float btn-circle dark-gray" 
							ng-show="(tasks | filter: {status: 'completed'}).length > 0"
							ng-click="clearList()">
							done_all
						</div>
					</div>
				</div>
		    </div>
		</div>

		<script type="text/ng-template" id="deleteTaskListModal.html">
			<div class="modal-body">
				<p>{{question}}</p>
			</div>
			<div class="modal-footer">
				<a class="modal-action" ng-repeat="action in actions" ng-click="resolve(action)">{{action}}</a>
			</div>
		</script>
		<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	</body>
</html>