@import 'mixins';
@import 'variables';

body {
	background-color: #ececec;
	font-family: 'Helvetica Neue';
}

header {
	background-color: #4285f4;
	color: #fff;

	@include material-module-shadow;

	z-index: 1000;
	position:fixed;
	left: 0;
	top: 0;
	right: 0;
}

.app {
	margin-top: 40px;
}

.app-title {
	font-size: 1.5em;
	margin: 0;
	line-height: 40px;
}

.tasklist {
	cursor: pointer;
	line-height: 40px;
	padding: 4px 0 4px 16px;
	font-weight: bold;

	&:hover {
		background-color: rgba(0, 0, 0, 0.03);
	}

	&.selected {
		background-color: rgba(0, 0, 0, 0.05);
		color: #4285f4;
	}
}

.task-listing {
	@include material-module-shadow;
}

.task {
	line-height: 40px;
	padding: 4px 0 4px 16px;
	background-color: #fff;
	margin: 1px 0;

	@include transition(background-color, 400ms);

	&.completed {
		background-color: $completed-background-color;
	}
}

.float-right {
	float: right;
}

.complete-task-icon {
	line-height: 40px !important;
	cursor: pointer;

	&.needsAction {
		color: #c0c0c0;
	}

	&.completed {
		color: $completed-color;
	}

	&:hover {
		color: #000;
	}
}

.add-task-button {
	$size: 50px;

	background-color: #db4437;	
	border-radius: 50%;
	height: $size;
	width: $size;
	line-height: $size !important; /* needs to override .material-icons */

	text-align: center;
	color: #fff;

	cursor: pointer;

	margin-top: 30px;
	margin-right: 5px;

	@include transition(box-shadow, 200ms);

	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

	&:hover {
		box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
	}
}
